<div *ngFor="let payment of payment">
    <div>
   
      <label>Name: </label> {{payment.nameOnCard}}
    </div>
    <div>
  
      <label>creditCardNumber: </label> {{payment.creditCardNumber}}
    </div>
  
    <div>
  
      <label>CouponCode: </label> {{payment.couponCode}}
    </div>
  
   
  
    <!-- <span class="button is-small btn-primary" *ngIf='payment.active' (click)='updateActive(false)'>Inactive</span>
  
    <span class="button is-small btn-primary" *ngIf='!payment.active' (click)='updateActive(true)'>Active</span> -->
  
    <!-- <span class="button is-small btn-danger" (click)='deleteCustomer()'>Delete</span> -->
  
    <hr/>
<P>HIEEEEE</P>

  </div>