<!-- 
  <div class="jumbotron text-center">
    <div style="padding: 20px;">
      <h1 style="color: blue">{{title}}</h1>
      <h3>{{description}}</h3>
    
  </div>
    <body>
  <div class="container">
    <div class="row">
     
    </div>
  </div>
  </body>
  <nav>
      <a routerLink="homepage" class="btn btn-primary active" role="button" style="margin:5px;" routerLinkActive="active">Home</a>
     <a routerLink="homeview" class="btn btn-primary active" role="button" style="margin:5px;" routerLinkActive="active">Coupons</a>
    <a routerLink="add" class="btn btn-primary active" role="button" style="margin:5px;" routerLinkActive="active">Register</a>
    <a routerLink="findbyage" class="btn btn-primary active" role="button" style="margin:5px;" routerLinkActive="active">Login</a>
    <a routerLink="cart" class="btn btn-primary active" role="button" style="margin:5px;" routerLinkActive="active">cart</a>
  </nav><br>
  <br>
  <br>
  <router-outlet></router-outlet>
</div> -->


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
  #demo
  {
  background-color:slateblue;
  }
  .background
    {
      background-color:grey;
    }
  </style>
</head>
 <body></body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
     
    </div>
   
    
  </div>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
     
      <a class="navbar-brand" href="#">COUPON WORLD</a>
    
      
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="homepage" class="btn btn-primary active" role="button" style="margin:5px;" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item" *ngIf="readValue('role')=='admin'">
            <a routerLink="createCoupon" class="btn btn-primary active" role="button" style="margin:5px;" routerLinkActive="active">Add Coupon</a>
          </li>
        <li class="nav-item"  *ngIf="readValue('role')!='admin'">
          <a routerLink="homeview" class="btn btn-primary active" role="button" style="margin:5px;" routerLinkActive="active">Coupons</a>
        </li>
        
        <li class="nav-item" *ngIf="readValue('role')=='nothing'">
          <a routerLink="add" class="btn btn-primary active" role="button" style="margin:5px;" routerLinkActive="active">Register</a>
          </li>

          <li class="nav-item" *ngIf="readValue('role')== 'admin'  " >
              <a routerLink="customer" class="btn btn-primary active" role="button" style="margin:5px;" routerLinkActive="active">Delete Coupon</a> 
          </li>


        <li class="nav-item" *ngIf="readValue('role')!='nothing'">
            <a (click)="logout()" class="btn btn-primary active" role="button" style="margin:5px;" >Logout</a>
          </li>
        <!-- <li class="nav-item" *ngIf="readValue('role')=='nothing'">
          
            <div class="dropdown">
              <li class="btn btn-primary active" role="button" style="margin:5px;" routerLinkActive="active"  id="dropdownMenuButton" data-toggle="dropdown" >
                Login
              </li>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="findbyage">customer</a>
                <a class="dropdown-item" routerLink="admin">admin</a>
              </div>
            </div>
        </li> -->

        <li class="nav-item dropdown" *ngIf="readValue('role')== 'nothing'">
            <a class="nav-link dropdown-toggle" class="btn btn-primary active" style="margin:5px;"  id="navbardrop" data-toggle="dropdown">
             Login
            </a>
            <div class="dropdown-menu">
                <ul class="nav navbar-nav navbar-right">
                    <a class="dropdown-item" href="findbyage">customer</a>
                    <a class="dropdown-item" routerLink="admin">admin</a> 
                </ul> 
            </div>
          </li>


          
        
          <li class="nav-item" *ngIf="readValue('role')== 'customer'  " >
         <a routerLink="cart" class="btn btn-primary active" role="button" style="margin:5px;" routerLinkActive="active">cart</a> 
        </li>

        <li class="nav-item"   *ngIf="readValue('role')!= 'nothing'">
            <a class="nav-link" class="btn btn-primary active" role="button" style="margin:5px;">Welcome {{readValue('ankit')}}</a>
        </li>
    
       
        
      </ul>
    </nav>
    <br>
</nav> 
<!-- <div style="padding: 20px;"> -->
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>







<div class="background">
    <footer class="page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Connect With Us</h5>

          <ul class="list-unstyled">
            <li>
                <a href="http://www.amazon.in/gp/redirect.html/ref=footer_fb?location=http://www.facebook.com/AmazonIN&amp;token=2075D5EAC7BB214089728E2183FD391706D41E94&amp;6" class="nav_a">Facebook</a>

            </li>
            <li>
                <a href="http://www.amazon.in/gp/redirect.html/ref=footer_twitter?location=http://twitter.com/AmazonIN&amp;token=A309DFBFCB1E37A808FF531934855DC817F130B6&amp;6" class="nav_a">Twitter</a>
            </li>
            <li>
                <a href="http://www.amazon.in/gp/redirect.html?location=https://www.instagram.com/amazondotin&amp;token=264882C912E9D005CB1D9B61F12E125D5DF9BFC7&amp;source=standards" class="nav_a">Instagram</a>
            </li>
            <li>
             
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

          <ul class="list-unstyled">
            <li>
            <h3>Contact Us</h3>
            </li>
            <li>
            <h5>CouponsDeals</h5>
            </li>
            <li>
                <h5>8767898765</h5>
            </li>
            <li>
              <h6>couponsdeals@gmail.com</h6>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Features</h5>

          <ul class="list-unstyled">
            <li>
              This website provides differnt
            </li>
            <li>
              types of coupons like shopping, 
            </li>
            <li>
              food,grocies etc.,to lower rates.
            </li>
            <li>
              Invest less shop more.
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About Us</h5>

          <ul class="list-unstyled">

             
            <li>
                This website is about the dealing 
            </li>
            <li>
                of coupons for the less rate.
            </li>
            <li>
                Helps more for customers. 
            </li>
            <li>
             @@!!
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Coupon deals
     
    </div>
    <!-- Copyright -->

  </footer>
</div>

  <!-- Footer -->
  
  